div.nominate-container {
    display: flex;
    flex-wrap: wrap;
}

div.nominate-container.mobile > div {
    margin-bottom: 1rem;
}

div.nominate-container > div.break {
    flex-basis: 100%; 
    height: 0
}

div.nominate-container > div.nominate-header {
    width: 100%;
    margin-bottom: 1em;
}

div.nominate-container > div.select {
    margin-right: 2em;
    min-width: 10em;
}

div.nominate-container > div.nominate-link {
    /* min-width: 40em; */
}

div.nominate-container > .nominate-button {
    min-width: 10em;
}

img.poster-tile.selected {
    border: 10px solid #555;
}

.poster-picker-dialog {
    max-width: 100vw !important;
}

.poster-picker-dialog.mobile {
    gap: 8em !important;
}