
.movie-card {
    size: 10em;
    margin-bottom: 1em;
    display: flex;
    flex-flow: wrap;
  }

  .movie-card.mobile {
    justify-content: center;
  }
  
  .movie-card > div {
    min-width: 10%;
    padding: 1em 0 1em 1em;
  }

  .movie-card > .movie-card-align-right, .movie-card-align-right {
    margin-left: auto;
    cursor: pointer;
  }

  .movie-card > .movie-card-align-right:hover, .movie-card-align-right:hover {
    color: cadetblue;
  }
  
  .movie-card-expanded > .movie-card-align-right {
    padding-right: 1em;
    cursor: pointer;
  }

  .movie-card > .movie-card-expanded {
    width: 100%;
    max-width: 100%;
  }
  
  .movie-card > .movie-card-title {
    width: 60%;
  }
  
  .movie-card > .movie-card-title.mobile {
    width: 70%;
  }

  .movie-card-votes-description {
    padding-right: 1em;
  }
  
  .movie-card > div.movie-card-image {
    max-height: 100%;
    padding: 1em 0 1em 1em;
  }

  .movie-card > div.movie-card-image.mobile {
    max-height: 100%;
    padding: 1em 0 0 0;
  }
  
  .hidden {
    display:none !important;
  }
  
  .movie-card-image > img {
    max-width: 100%;
    height: 285px;
  }
  
  .movie-card-expanded {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .movie-card-expanded > .movie-card.mobile {
    width: 100%;
  }

  .trash-icon {
    color: #b71c1c;
  }

  .happy-icon {
    color: #dce775;
  }

  .very-happy-icon {
    color: #8bc34a;
  }

  .ecstatic-icon {
    color: #1b5e20;
  }

  .movie-card-actors.mobile {
    margin-bottom: 1em;
  }

  .movie-card-people {
    width: 100%;
  }